.home-header {
  color: rgb(192, 185, 185);
}

.medicare-home-wrapper,
.medicaid-home-wrapper,
.ifp-home-wrapper {
  background-color: snow;

  p {
    width: 50%;
    font-size: large;
  }

  h3 {
    width: 100%;
    display: flex;
    margin-left: 1rem;
  }
}

.oldlady {
  width: 13em;
}
