.home-header {
  color: rgb(192, 185, 185);
}

.medicare-home-wrapper {
  background-color: snow;
}

.medicaid-home-wrapper {
  background-color: snow;
}

.ifp-home-wrapper {
  background-color: snow;
}
