.home-header {
  color: rgb(192, 185, 185);
}

.medicare-home-wrapper,
.medicaid-home-wrapper,
.ifp-home-wrapper {
  background-color: snow;

  p {
    font-size: large;
  }

  h3 {
    display: flex;
    margin-left: 1rem;
    justify-content: center;
  }

  display: flex;
  justify-content: space-between;
}

.medicaid-home-wrapper {
  flex-direction: row-reverse;
}

.oldlady,
.family,
.ifp {
  width: 13em;
  margin-right: 1rem;
}

.family {
  margin-left: 1rem;
}

.title-message-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.health-wrapper {
  display: flex;
  justify-content: space-between;
}

.behavioral,
.dental,
.vision,
.physical {
  border: 1px solid;
  border-radius: 8px;
  padding: 16px;
  max-width: 12rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
    font-size: xx-large;
  }
}

.no-underline {
  text-decoration: none;
}
